<a href="https://colab.research.google.com/github/J-Jumanah/MasarProject/blob/main/FirstClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python First Class
---
> 1. List

In [9]:
#Define a List
my_list = [1, 2, 3, "four", 5.0]

my_list2 = [1, 2]

#Print element in index 0
print(my_list[0]) #1

#Change an element
my_list[1] = "two"
my_list

#Add an element
my_list.append(6) #Last index
my_list

#Remove an element
my_list.remove("four")
my_list

# del my_list[2] ?
repeated_list = my_list2 * 2 #Duplicate the list
repeated_list
length = len(my_list2)

#Concatenate
new_list = my_list2 + [7, 8, 9]
new_list

#List into List
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested_list

1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

> 2. Dictionary

In [ ]:
#Define a dictionary
my_dict = {"key1": "value1", "key2": "value2", "key3": "value3"}

#Get a key
value = my_dict["key1"]

#Change an element
my_dict["key2"] = "new_value"

#Add a new key
my_dict["key4"] = "value4"

#Delete a key
del my_dict["key3"]

#Loop
for key in my_dict:
    print(key, my_dict[key])

#Check a key exsit
key_exists = "key1" in my_dict

#Get a key or value
keys_list = list(my_dict.keys())
values_list = list(my_dict.values())

#Len of dict
num_items = len(my_dict)

#Nested dictionaries
nested_dict = {"key1": {"subkey1": "value1", "subkey2": "value2"}, "key2": {"subkey3": "value3"}}

#Clear dicts
my_dict.clear()

>> 2.1 Example of Dictionary

In [11]:
my_dict = {"Name":'Jumanah', "Age":24, "City":'Jeddah'}
my_dict["Major"] = "IT"
my_dict

{'Name': 'Jumanah', 'Age': 24, 'City': 'Jeddah', 'Major': 'IT'}

> 3. Functions

In [10]:
def Multi(x=6):
  print("The result:",x*x)

#Override the x = 6 with 3
Multi(3)

def loopNumbers(number):
  for i in range(number):
    print(i)
#0 to 5
loopNumbers(6)

The result: 9
0
1
2
3
4
5

# Python Homework
---

> Homework 1

In [ ]:
#Define a var
myName = 'Jumanah Jan'
myAge = 24
#Print statement
print("Hello everyone I'm", myName, myAge,"years old \nI'm taking a step forward the Data Science and Machine Learning!")

> Homework 2